.root {
  -fx-base: #080808;
  -fx-background: #080808;
  -fx-control-inner-background: #080808;
  -fx-text-fill: #ffffff;
  -fx-accent: #409eff;
  -fx-focus-color: #409eff;
  -fx-faint-focus-color: #409eff44;
}

.text-area {
  -fx-background-color: transparent;
  -fx-text-fill: #ffffff;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-padding: 8px;
}

.text-area .content {
  -fx-background-color: #080808;
  -fx-padding: 8px;
  -fx-line-spacing: 10px;
}

#titleBar {
  -fx-background-color: #409eff44;
}

#titleBar .button {
  -fx-padding: 0px 8px;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
  -fx-background-color: #409eff;
}

.thumb {
  -fx-background-color: #409eff;
}