.root {
  -fx-base: #1a0b0b;
  -fx-background: #1a0b0b;
  -fx-control-inner-background: #1a0b0b;
  -fx-text-fill: #ffeaea;
  -fx-accent: #ff4455;
  -fx-focus-color: #ff4455;
  -fx-faint-focus-color: #ff445544;
}

.text-area {
  -fx-background-color: transparent;
  -fx-text-fill: #ffeaea;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-padding: 8px;
}

.text-area .content {
  -fx-background-color: #2e0e14;
  -fx-padding: 8px;
  -fx-line-spacing: 10px;
}

#titleBar {
  -fx-background-color: #ff445544;
}

#titleBar .button {
  -fx-padding: 0px 8px;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
  -fx-background-color: #3a1a1f;
}

.thumb {
  -fx-background-color: #ff4455;
}